.jumbotron {
  background-image: url("../images/fruit-and-veg.jpg");
  padding: 200px;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

.form-inline {
  padding: 20px;
  margin: 20px;
  position: absolute;
  top: 70px;
  left: 50px;
}

ul {
  margin-top: 30px;
  text-align: center;
}


a {
  color: black;

}

li {
  display: inline;
  text-align: center;
  padding: 0px 15px 0px 15px;
  font-weight: bold;
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-family: 'PT Serif', serif;
}

button {
  padding: 5px 20px 5px 20px;
  margin: 10px 10px 20px 10px;
  font-family: cursive;
  font-size: 20px;
  color: white;
  background-color: #3B5E2B;
  border-style: none;
  align-items: right;

}

.heart {
    position: absolute;
    bottom:-21px;
    left:-50px;
    width: 100px;
    height: 90px;

    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.heart:before{border-left:1px solid #000;}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #3B5E2B;
    border-top:1px solid #000;
    border-right:1px solid #000;

    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}


.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
            border-bottom:1px solid #000;
}

.heartwrap{
	position:relative;
	width: 300px;
	height: 70px;
	padding:0;
	margin-left: 100px;
	margin-top: 50px;


	border:1px solid #000;
	background: #3B5E2B;
}
