.jumbotron {
  background-image: url("../images/fruit-and-veg.jpg");
  padding: 200px;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

.form-inline {
  padding: 20px;
  margin: 20px;
  formpositon: bottom;
}

li {
  display: inline;
  padding: 0px 15px 0px 15px;
  font-weight: bold;
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-family: 'PT Serif', serif;
}

button {
  padding: 5px 20px 5px 20px;
  margin: 10px;
  font-family: Sumana, serif;
  font-size: 15px;
  background-color: #93DB70;
  position: top;

}
