
#container {
  min-height: 100%;
  min-width: 1024px;
  background: url("../images/greenbackg.jpeg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
  text-shadow: none;
  text-align: center;
  font-size: 130px;
  font-family: 'Crimson Text', serif;
  padding: 120px 0px;
}
h2 {
  text-align: center;
  padding: 24px;
}
h3 {
  text-align: left;
  font-size: 18px;
}
ul {
  background-color: white;
  opacity: 0.5;
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.1));
  background: -moz-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.1));
  padding: 10px;
  text-align: right;
  margin: 0;
}
li {
  display: inline;
  padding: 0px 15px 0px 15px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  font-family: 'Cormorant Garamond', serif;
}
.biobox {
  width: 50%;
  margin: auto;
  padding-top: 0px;
  background:rgba(255,255,255,0.5);
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,.8), rgba(255,255,255,.3));
  background: -moz-linear-gradient(bottom, rgba(255,255,255,.8), rgba(255,255,255,.3));
}

p {
  font-size: 21px;
  font-family: 'Lora', serif;
  color: black;
  text-align: center;
  padding: 10px 20px 10px 20px;
  margin-top: -100px;
  margin-bottom: 110px;

}
