body {
  font-family: 'Sumana', serif;
  line-height: 28px;
  margin-left: 0;
  margin-right: 0;
}
h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 0 20px;
  margin: 18px 0 8px 5px;
  font-family: 'Libre Baskerville', serif;
}
ul {
  background-color: rgba(244, 242, 232, 0.5);
  opacity: 0.60;
  padding: 10px;
  text-align: center;
  margin: 0;
}
li {
  display: inline;
  padding: 0px 15px 0px 15px;
  font-weight: bold;
  font-size: 22px;
  color: black;
  font-family: 'Sumana', serif;
}
h2 {
  font-size: 110px;
  color:  #f7f9fc;
  text-align: right;
  line-height: 100px;
  font-family: 'Sacramento', cursive;
  padding: 5px 10px 10px 10x;
  margin-top: 40px;

}


}

h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
b {
  font-size: 21px;
}
#background {
  background: url("../images/brighton_background.jpg");
  background-size: cover;
  height: 400px;
  padding: 30px;
}
#intro {
  font-size: 23px;
  margin-left: 20px;
  margin-top: 10px;
  line-height: 30px;
}
.clearfix {
  margin: 15px 20px 30px 20px;
  font-size: 18px;
  text-align: justify;
}
.left {
  float: left;
  margin-right: 20px;
}
.right {
  float: right;
  margin-left: 20px;
}

a:link {
    text-decoration: none;
    color: #232426;
}

a:visited {
    text-decoration: none;
    color: #232426;
}

a:hover {
    text-decoration: underline;
    color: #232426;
  }
