
body {
  background-color: #CFDBC5;
}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  color: yellow;
}

ul {
  padding: 0px 15px 0px 15px;
  text-align: center;
  word-spacing: 20px;


}

li {
  font-size: 22px;
  color: #008080;
  display: inline;
  font-family: Gamja Flower;
  font-size: 30px;
  font-weight: bold;
}


img {
  position: relative;
  width: 230px;
  height: 180px;
  margin-bottom: 0.5em;
  margin-right: 0.5%;

}

h1 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 40px;
  font-weight: bold;
  padding: 0 20px;
  margin: 18px 0 18px 5px;
  font-family: auto;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  color: white;
  font-family: Gamja Flower;
  background-color: #228b22;
  padding: 10px;
  margin: 5px;
}

dl.shops {
  display: block;
  text-align: center;
  clear: left;
  background-color: white;
  padding: 30px;
  font-size: 18px;
}

dt a {
  font-family: Gamja Flower;
  font-size: 30px;
  color: #228b22;

}
dd {
  text-align: center;
  font-family: Lobster, cursive;
}



p {
  text-align: left;
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  font-family: Gamja Flower;
}



/*
a {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-decoration: none;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 20px;
  left: 10px;
}
*/

p.other {
  display: block;
  font-family: Lobster;


}
