

a {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-decoration: none;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 20px;
  left: 10px;
}

img {
  position: relative;
  width: 230px;
  height: 180px;
  margin-bottom: 0.5em;
  margin-right: 0.5%;

}

h1 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 40px;
  font-weight: bold;
  padding: 0 20px;
  margin: 18px 0 18px 5px;
  font-family: auto;

}

dl {
  display: block;
  text-align: center;
  clear: left;
  background-color: white;
  padding: 30px;
  font-size: 18px;
}
dd {
  text-align: center;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  color: black;
  font-family: 'PT Serif', serif;
  background-color: #ffff1a;
  padding: 10px;
  text-transform: uppercase;
  margin: 5px;
}
p {
  text-align: left;
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
}

ul {
  background-color: #ffff1a;
  padding: 10px;
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
}
li {
  display: inline;
  padding: 0px 15px 0px 15px;
  font-weight: bold;
  font-size: 22px;
  color: black;
  font-family: 'PT Serif', serif;
}

a {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-decoration: none;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 20px;
  left: 10px;
}
.form-inline {
  padding: 20px;
  margin: 10px;
}
.jumbotron {
  background-image: url("../images/fruit-and-veg.jpg");
  padding: 200px;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}
