

a {
  text-decoration: none;
  color: #A8A8A8;

}

a:hover {
  text-decoration: underline;
}


ul {
  padding: 0px 15px 0px 15px;
  text-align: center;
  word-spacing: 20px;

}

li {
  font-size: 22px;
  display: inline;
  font-family: Sumana, serif;
}




img {
  position: relative;
  width: 230px;
  height: 180px;
  margin-bottom: 0.5em;
  margin-right: 0.5%;
  overflow: scroll;

}
h1 {
  font-family: Sacramento, cursive;
  font-size: 80px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: Libre Baskerville;
  background-color: #228b22;
  padding: 10px;
  margin: 5px;

}

.shops {

}

dl.shops {
  display: block;
  text-align: center;
  clear: left;
  background-color: #CFDBC5;
  padding: 30px;
  font-size: 18px;
}

dt a {
  font-family: Sumana, serif;
  font-size: 30px;
  color: #228b22;

}
dd {
  text-align: center;
  font-family: Sumana, cursive;
}



p {
  text-align: left;
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  font-family: Sumana, serif;
}



p.other {
  display: block;

}
